
.cartContenu{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  /* box-shadow: 2px 2px 2px rgba(0,0,0); */
  gap: 5vh;
  margin-top: 5vh;
}

.carteInfo{
height: 29vh;
width: 99%;
/* border: 3px solid; */
box-shadow: 2px 2px 2px;


}

.titre{
  height: 10vh;
  box-shadow: 2px 2px 2px rgba(0,0,0);

  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0); */
  /* border: 5px solid #E68513; */
  margin-top: 3vh;
}
/* NAVBAR */
#c
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}

.cartContenu{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  /* box-shadow: 2px 2px 2px rgba(0,0,0); */
  gap: 5vh;
  margin-top: 5vh;
}

.nombre{
height: 29vh;
justify-content: center;
margin-top: 5vh;

/* border: 3px solid; */

}

.titre{
  height: 10vh;
  /* box-shadow: 2px 2px 2px rgba(0,0,0); */

  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0); */
  /* border: 5px solid #E68513; */
  margin-top: 3vh;
}
.navabarDash, .infoProfileC{
  display: flex;
  justify-content: space-around;
}
.contenu{
  width: 70%;
  margin: 2% auto;
  /* border: 1px solid red; */
}
main{
  width: 100%;
  margin-left: 10%;
}
