<section id="content">
<app-sidebar-conttout></app-sidebar-conttout>
<app-navbar-conttout></app-navbar-conttout>
<div class="contenu ">
  <main>
    <div class="container">
      <div class="cartContenu">
        <div class="carteInfo">
          <div class="d-flex class ">

            <p class="pl-3">Nombre de Utilisateurs</p>
            <i class="bi bi-people-fill ms-5"></i>
            <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
          </div>
          <div class="nombre">
            <p class="pl-5">50</p>
          </div>
        </div>
        <div class="carteInfo">
          <div class="d-flex">

            <p class="pl-3">Nombre de Patients</p>
            <i class="bi bi-people-fill ms-5"></i>
            <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
          </div>
          <div class="nombre">
            <p  class="pl-5">10</p>
          </div>
        </div>
        <div class="carteInfo">
          <div class="d-flex">

            <p class="pl-3">Medecin en attente </p>
            <i class="bi bi-people-fill ms-5"></i>
            
            <!-- <img src="../../assets/iconone_Patients-removebg-preview.png" alt=""> -->
          </div>
          <div class="nombre">
            <p class="pl-5">10</p>
          </div>
        </div>

      </div>
      <div class="titre">
        <h3>Liste des incrtits</h3>
      </div>
      <div>
        <div class="">
          <div class="d-flex flex-wrap justify-content-between">
            <h5 class="card-title allUser  py-2 px-2 mt-4">quelques utilisateurs</h5>
          </div>
          
          <div class="row my-5 ">
            <div class="col-lg-12 d-flex grid-margin stretch-card ">
              <div class="card t w-100">
                <div class="card-body t">
                  <div class="table-responsive">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Nom</th>
                          <!-- <th>Prénom</th> -->
                          <th>Numéro</th>
                          <th>Rôle</th>
                          <th>Email</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let itemUser of Users">
                          <td>{{ itemUser.id }}</td>
                          <td>{{ itemUser.nom }}</td>
                          <td>{{ itemUser.role }}</td>
                          <td>{{ itemUser.email }}</td>
                          <td>{{ itemUser.telephone }}</td>
                          <td>
                            <div>
                              <i class="fa-solid fa-eye me-3" style="color: #ce0033;" data-bs-toggle="modal" data-bs-target="#exampleModal"></i>
                              <!-- <i class="fa-solid fa-pen me-3" style="color: #ce0033;"></i>
                              <i class="fa-solid fa-ban me-3" style="color: #ce0033;"></i> -->
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
      </div>
      </div>
    </div>
  </main>

</div>
</section>
 <!-- Modal pour afficher les détails de l'utilisateur -->
 <div class="modal fade" *ngFor="let itemUser of Users" id="userModal{{itemUser.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Détails de l'utilisateur</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Affichez ici les détails de l'utilisateur -->
        <p>Nom: {{ itemUser.nom }}</p>
        <p>Numéro: {{ itemUser.telephone }}</p>
        <p>email: {{ itemUser.email }}</p>
        <p>Rôle: {{ itemUser.role }}</p>
        <p>Ville: {{ itemUser.ville }}</p>
        <!-- Ajoutez d'autres détails selon vos besoins -->
      </div>
    </div>
  </div>
</div>