<div class="headerContenu sticky-top">
  <div class="text-white bg-black" id="contenuHeaderA">
    <div class=" infosContact">
      <p class=""> <i class="fa fa-phone-alt  " ></i>&nbsp;+221 33 825 57 65</p>
      <p><i class="bi bi-envelope "></i> &nbsp;sacrentandou2.0@gmail.com</p>
    </div>
    <div class=" infosRxs">
      <a class="  me-2  " href=""   id="btonrxs"><i class="bi  bi-facebook "  id="iconeheader"></i></a>
      <a class="  me-2  " href="" id="btonrxs"> <i class="bi bi-instagram" id="iconeheader"></i></a>
      <a class="  me-2  " href="" id="btonrxs"><i class="bi bi-twitter-x" id="iconeheader"></i></a>
      <a class="  me-2" href="" id="btonrxs"><i class="bi bi-linkedin" id="iconeheader"></i></a>
    </div>
  </div>
  <div>
    <nav class="navbar navbar-expand-lg bg-body-white" id="navbarbt">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <img src="../../../assets/logo certification.png" alt="" class="logo" [routerLink]="['/accueil']">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#"  routerLinkActive="active-link" [routerLink]="['/accueil']">Accueil</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/apropos']" routerLinkActive="active-link">A propos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/article']" routerLinkActive="active-link">Article</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/medecin']" routerLinkActive="active-link">Medecin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" [routerLink]="['/contact']" routerLinkActive="active-link">Contactez-nous</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabl routerLinkActive="active-link"ed</a>
            </li> -->
          </ul>
        </div>
        <div>
          <button id="myButton" class=" btn  text-white " [routerLink]="['/login']" >Connexion</button>
          <!-- <li class="nav-item">
            <a class="nav-link btn bg-body-danger" aria-current="pag routerLinkActive="active-link"e" href="#">Connexion</a>
          </li> -->
          <!-- <button>Connexion</button> -->
        </div>
      </div>
    </nav>
  </div>


</div>
