<app-header></app-header>
<div class=" contenuListeMedecin">
  <div class="banier" >
    <img src="../../assets/baniereArticle.png" alt="" id="banier">
  </div>
  <div class="mt-5" >
    <h1 class="text-center"><u>Liste des articles</u></h1>
    <div class=" search-container">
      <input type="text" class="search-input" placeholder="Recherche...">
      <!-- <button class=""> -->
        <i class="bi bi-search me-4" style="color: #CE0033;"></i>
        <!-- <img src="loupe-icon.png" alt="Loupe"> -->
      <!-- </button> -->
    </div>
    <div class="carteArticle">
      <div class="col-sm-12 col-md-6 col-lg-8" *ngFor="let article of articles">
        <div class="card imgCard" style="width: 18rem;">
          <img src="http://127.0.0.1:8000/storage/{{ article.image }}" class="card-img-top" alt="..." id="imagecard">
          <div class="card-body">
            <h5 class="card-title">{{ article.titre }}</h5>
            <!-- <p class="card-text">{{ article.description }}</p> -->
            <p class="card-text">{{ article.description | slice:0:200 }}{{ article.description.length > 200 ? '...' : '' }}</p>
            <!-- <p class="card-text">{{ article.description | slice:0:100 }}{{ article.description.length > 100 ? '...' : '' }}</p> -->
          </div>
          <div class="card-footer">

            <a class="text-center d-flex justify-content-center">
              <i class="fa-solid fa-eye me-4" style="color: #CE0033;"   data-bs-toggle="modal" data-bs-target="#exampleModal-details" (click)="afficherDetailsArticle(article)"></i>
              <!-- <i class="fa-solid fa-pen me-4" style="color: #CE0033;" data-bs-toggle="modal" data-bs-target="#exampleModal-modifier" (click)=" chargerInfosArticle(article)"></i> -->
              <!-- <i class="fa-solid fa-trash-can me-4" style="color: #CE0033;" (click)="supprimerArticle(article.id)"></i> -->
            </a>
          </div>

          </div>
        </div>
      </div>
    </div>
  </div>

<div>
 <app-footer></app-footer>
 <div class="modal fade" id="exampleModal-details" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Détails de l'article</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let article of articles">
        <div class="mb-3">
          <label class="form-label">Image(s)</label>
          <img src="http://127.0.0.1:8000/storage/{{ article.image }}" class="card-img-top" alt="..." id="imagecard">

          <!-- <img [src]="http://127.0.0.1:8000/storage/{{ article.image }}" class="img-fluid" alt="Image de l'article"> -->
        </div>
        <div class="mb-3">
          <label class="form-label">Titre</label>
          <p>{{ article.titre }}</p>
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          <p>{{ article.description }}</p>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>